<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated project2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="project2.presentation.Project2ModelWizardID"
            name="%_UI_Project2ModelWizard_label"
            class="project2.presentation.Project2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Project2ModelFile.gif">
         <description>%_UI_Project2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated project2 -->
      <editor
            id="project2.presentation.Project2EditorID"
            name="%_UI_Project2Editor_label"
            icon="icons/full/obj16/Project2ModelFile.gif"
            extensions="project2"
            class="project2.presentation.Project2Editor"
            contributorClass="project2.presentation.Project2ActionBarContributor">
      </editor>
   </extension>

</plugin>
